duckdb==1.1.0
pandas==2.2.2
requests==2.32.3
streamlit==1.40.0
plotly==5.22.0
plotly-calplot==0.1.20
holidays==0.40
PyNaver==0.0.10
google-generativeai==0.8.0
python-decouple==3.8
loguru==0.7.2
beautifulsoup4==4.12.3
selenium==4.27.0
pydantic==2.9.2
pydantic-settings==2.5.2
ratelimit==2.2.1

